{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/styles/chat.css">


<h1>Chat</h1>
<br/>

{% if current_user.is_admin %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
<script src="../static/admin.js"></script>
<h4>Admin Panel</h4>
<div id="chat_admin_panel">
<button id="create_room_button" onclick="showCreateRoomTools('create')">Create Room</button><br>
<button id="delete_room_button" onclick="showCreateRoomTools('delete')">Delete Room</button><br>
</div>
{% endif %}

<h4>Rooms</h4>
<ul id="chat_rooms">

{% for room in rooms() %}
<span id='entry_{{ room.id }}'>
    <a id='{{ room.id }}' class="room_entry" href='{{ room.href }}' onclick="null">{{ room.name }} ({{ room.active_users|length }})</a>
    <br>
</span>
{% endfor %}

</ul>

{% endblock %}
