<!doctype html>
<html>

    <head>
        <title>Chat</title>
    </head>

    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
        <script src="../static/chat.js"></script>

        <button id="logout_button" class="btn logout">Logout</button>
        <br>
        <h1>Chat</h1>

        <form>
            <label for="chat_message_text_area">message:</label><br>
            <textarea id="chat_message_text_area" class="message_input" type="text" name="chat_message_text_area"></textarea><br>
        </form>

        <button id="chat_send_button" class="btn send">Send</button>
        <br>

        <h2>Chat:</h2>

        <div id="main_chat_box" class="chat_box"></div>

    </body>
</html>