{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/styles/register.css">


<h1>Register</h1>
<br>

{% if current_user.is_authenticated %}
<h2>Log out first to register a new user</h2>
{% endif %}

{% if not current_user.is_authenticated %}
<form method="post">
    <label for="register_username">Username:</label>
    <input id="register_username" type="text" name="register_username"></input>
    <br>
    <label for="register_password">Password:</label>
    <input id="register_password" type="password" class="secure_input" name="register_password"></input>
    <br>
    <label for="register_repeat_password">Repeat Password:</label>
    <input id="register_repeat_password" type="password" class="secure_input" name="register_repeat_password"></input>
    <button id="register_submit_button">Submit</button>
</form>
{% endif %}

{% endblock %}


   