{% extends "base.html" %}


{% block content %}
<link rel="stylesheet" href="../static/styles/support.css">

<div id="support_options">
    <h4>Support the project:</h4><br>
    <label class="support_address_label" for="bitcoin_address"><b>Bitcoin</b></label> 
    <span class="support_address_inner", name="bitcoin_address">[address goes here]</span></span><br>

    <label class="support_address_label" for="ethereum_address"><b>Ethereum</b></label> 
    <span class="support_address_inner", name="ethereum_address">[address goes here]</span></span><br>

    <label class="support_address_label" for="litecoin_address"><b>Litecoin</b></label> 
    <span class="support_address_inner", name="litecoin_address">[address goes here]</span></span><br>

    <label class="support_address_label" for="cardano_address"><b>Cardano</b></label> 
    <span class="support_address_inner", name="cardano_address">[address goes here]</span></span><br>

</div>

{% endblock %}