{% extends "base.html" %}


{% block content %}
<link rel="stylesheet" href="../static/styles/support.css">

<div id="support_options">
    <h4>Support the project:</h4>
    <br>
    <br>
    <span id="support_bitcoin_address">Bitcoin [address goes here]</span><br>
    <span id="support_ethereum_address">Ethereum [address goes here]</span><br>
    <span id="support_litecoin_address">Litecoin [address goes here]</span><br>
    <span id="support_cardano_address">Cardano [address goes here]</span><br>
</div>

{% endblock %}