
#main_chat_box {
    height: 245px;
    width: 340px;
    padding: 5px;
    border: 1px solid black;
    overflow-y: scroll;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

#chat_message_text_area {
    height: 50px;
    width: 345px;
    border: 1px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.message_username {
    color: midnightblue;
}

.message_content {
    color: darkslategrey
}

textarea {
    border: 1px solid black;
}